Repository kahikatea-2019/MOA, pull requests merged in 2019-05, with the labels that each got.

#24 Updated readme to be spicy
  README.md
Labels: documentation

#31 initialise client-side routes
  client/components/App.jsx
  package-lock.json
  package.json
Labels: client, route

#27 1 create migrations
  server/db/migrations/20190502105511_users.js
  server/db/migrations/20190502105806_cohorts.js
  server/db/migrations/20190502105812_students.js
  server/db/migrations/20190502105819_assessments.js
  server/db/migrations/20190502105839_students_assessments.js
  server/db/migrations/20190502105846_modules.js
  server/db/migrations/20190502105851_exercises.js
  server/db/migrations/20190502105900_statuses.js
Labels: db

#32 Create a header component #19
  client/components/App.jsx
  client/components/Header.jsx
  tests/client/components/Header.test.js
Labels: client, react

#39 Updated Assessments && Exercises migrations to meet new data model
  server/db/migrations/20190502105819_assessments.js
  server/db/migrations/20190502105851_exercises.js
Labels: db

#52 Create a dashboard component 16
  client/components/App.jsx
  client/components/Dashboard.jsx
  client/components/Header.jsx
  package.json
  tests/client/components/Dashboard.test.js
Labels: client, react, route
